<div class="container">
    <br>
    <h2>Recent projects</h2>

    <div ng-repeat="sec in db.recent.sections">
        <div class="card-deck">
            <div class="card" ng-repeat="project in sec">
                <img src="{{db.recent.projects[project].images[0]}}" class="card-img-top" alt="project_image">
                <div class="card-body">
                    <h5 class="card-title">{{db.recent.projects[project].title}}</h5>
                    <p ng-bind-html="db.recent.projects[project].details" class="card-text text-truncate"></p>
                    <button class="btn btn-secondary btn-sm rounded-lg float-right" type="button" data-toggle="modal"
                        data-target="#detailsModal" ng-click="viewWork(db.recent.projects[project])">Leer más</button>                    
                    <p class="card-text"><small class="text-muted">Última actualización
                            {{relativeTime(db.recent.projects[project].update)}}</small></p>
                </div>
                <div class="card-footer">                    
                        <img title="{{db.group.members[mbr].name}}" ng-repeat="mbr in db.recent.projects[project].authors" src="{{db.group.members[mbr].pic}}" class="rounded-circle" alt="Image" width="40">    
                </div>
            </div>
        </div>
        <br>
    </div>
    <br>
    <br>
</div>

<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">{{selectedWork.title}}</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-sm-4 text-center">
                        <img ng-repeat="im in selectedWork.images" src="{{im}}" class="rounded-lg" alt="Image" width="200">
                    </div>
                    <div class="col-12 col-sm-8">
                        <h5>Authors</h5>
                        <p>{{memberList(selectedWork.authors)}}</p>
                        <h5>Project details</h5>
                        <p ng-bind-html="selectedWork.details"></p>
                        <div ng-show="selectedWork.links.length>0">
                            <h5>Links</h5>
                            <ul>
                                <li ng-repeat="link in selectedWork.links"><a href="{{link.url}}">{{link.text}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <p class="float-right"><small class="text-muted">Last updated
                        {{relativeTime(selectedWork.update)}}</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>